{% extends 'master.html' %}

{% block content %}
    <p>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dicta facere,id mollitia tempore temporibus totam voluptatum. Debitis dolores,fuga ipsa ipsum neque optio, placeat, recusandae reiciendis rerum velit voluptatum!</h2>
    </p>
    <p>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dicta facere,id mollitia tempore temporibus totam voluptatum. Debitis dolores,fuga ipsa ipsum neque optio, placeat, recusandae reiciendis rerum velit voluptatum!
    </h2>
    </p>
{% endblock %}