<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">

        <script type="application/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="application/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="application/javascript" src="{{ STATIC_URL }}js/jquery-3.1.1.js"></script>
    </head>

    <body>

{#        <div class="navbar navbar-default" role="navigation">#}
{#            <ul class="nav navbar-nav">#}
{#                <li><a href="{% url 'sessions_list' %}">Sessions</a></li>#}
{#                {% if user.is_staff %}#}
{#                    <li><a href="/admin">Administrator</a></li>#}
{#                {% endif %}#}
{##}
{#                {% if user.is_authenticated %}#}
{#                    <li><a href="{% url 'logout' %}">Logout</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'login' %}">Login</a></li>#}
{#                    <li><a href="{% url 'register' %}">Register</a></li>#}
{#                {% endif %}#}
{##}
{#                <li><a href="{% url 'about' %}">About Me</a></li>#}
{#                <li><a href="{% url 'secret' %}">Secret</a></li>#}
{#            </ul>#}
{#        </div>#}

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% with request.resolver_match.url_name as url_name %}
                            <ul class="nav navbar-nav">
                                <li class="{% if url_name == 'sessions_list' %} active {% endif %}"><a href="{% url 'sessions_list' %}">Sessions</a></li>
                                <li class="{% if url_name == 'speakers_list' %} active {% endif %}"><a href="{% url 'speakers_list' %}">Speakers</a></li>
                                {% if user.is_staff %}
                                    <li><a href="/admin">Administrator</a></li>
                                {% endif %}

                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li class="{% if url_name == 'login' %} active {% endif %}"><a href="{% url 'login' %}">Login</a></li>
                                    <li class="{% if url_name == 'register' %} active {% endif %}"><a href="{% url 'register' %}">Register</a></li>
                                {% endif %}

                                <li class="{% if url_name == 'about' %} active {% endif %}"><a href="{% url 'about' %}">About Me</a></li>
                                <li class="{% if url_name == 'secret' %} active {% endif %}"><a href="{% url 'secret' %}">Secret</a></li>
                            </ul>
                        {% endwith %}
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        <div class="container">
            <div class="jumbotron">
                <h2>Welcome to Conference! </h2>
            </div>

            {% if warning %}
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ warning }}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>